<ul>
    <li>
<a href="/"> Pagina de Inicio</a>
</li>
<li>
    <a href="/productos">Pagina de Productos</a>
</li>
<li>
    <a href="/carts">Pagina del Carrito</a>
</li>
<li>
    <a href="/registro">Pagina de registro</a>
</li>
<li>
    <a href="/login">Pagina de Login</a>
</li>
</ul>